:root{
    --ColorFondo:rgb(39,38,38);
    --ColorBorde:rgb(15, 15, 15);
}

body{
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--ColorFondo);
    display: grid;
    grid-template-columns: 7% 93%;
    overflow-x: hidden;
}

#BarraIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ColorBorde);
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
}

.BarraLateral{
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px;
    width: 80px;
    height: 75px;
    justify-content: space-evenly;
    justify-items: center;
    color: white;
    background-color: var(--ColorBorde);
    border-radius: 10px;
    border: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.BarraLateral:hover{
    background-color: rgb(50,50,50);
}

#BarraSuperior{
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 75% 15%;
    background-color: var(--ColorBorde);
}
#SearchM{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

#Recomendaciones{
    background-color: var(--ColorBorde);
    padding-left: 14px;
    padding-top: 18px;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.BotondeRecomendacion{
    margin-right: 5px;
    padding: 8px 8px 8px 8px;
    border: 1px solid rgb(50,50,50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 43, 43);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.BotondeRecomendacion:hover{
    background-color: rgb(50,50,50);
}

#Buscador{
    padding-left: 15px;
    width: 550px;
    height: 60%;
    border: 1px solid rgb(50, 50, 50);;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    color: white;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--ColorFondo);
    box-sizing: border-box;
}

#Buscador:focus{
    border: 1px solid rgb(96, 149, 247);
    outline: none;
}

#Lupa{
    width: 64px;
    height: 60%;
    border: none;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-color: rgb(45,45,45);
    cursor: pointer;
}

#VoiceSearch{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: rgb(45,45,45);
    margin-left: 5px;
    cursor: pointer;
}

#UploadNP{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SubirVideoyNotificaciones{
    background-color: var(--ColorBorde);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.SubirVideoyNotificaciones:hover{
    background-color: rgb(50,50,50);
}

#Perfil img{
    border-radius: 100%;
    cursor: pointer;
}

#Videos{
    display: grid;
    grid-template-rows: 33.4% 33.3% 33.3%
}

.CuadrosdeVideo{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    margin-bottom: 60px;
    margin-top: 14px;
}

#CajaGrande{
    display: grid;
    grid-template-rows: 65% 35%;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.Gifs img{
    border-radius: 10px;
    cursor: pointer;
}

#DatosPerfiles{
    line-height: 20px;
    display: grid;
    grid-template-columns: 13% 87%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

#DatosPerfiles div{
    display: grid;
    grid-template-rows: 40% 60%;
}

#DatosPerfiles div p{
    margin: 5px 0px 0px 0px;

}

#DatosPerfiles div p span a{
    color: rgb(158,158,158);
    text-decoration: none;
}

#DatosPerfiles div p span a:hover{
    color: white;
}

span{
    font-size: 11px;
    color: rgb(158,158,158);
}